

<div class="bgbox">
    <h3 class="clickable accordion-header closed" style="margin:0px;padding:0px;" data-amount="1">

        {% if data.widget_icon %}
            <span class="bigGreenIcon" style="float:left;margin-bottom:0px;padding-top:0px;">&#x{{data.widget_icon}};</span>
            <div style="float:left;margin-left:5px;">
        {% endif %}
        
            {{data.widget_title}}

        {% if data.widget_icon %}
            </div>
            <div class="clear"></div>
        {% endif %}
        <!-- {{data.widget_title}} -->
    </h3>
    <div class="space-top">
        {{data.widget_text|raw|nl2br}}
    </div>
</div>