<div class="widget widget_text {{classes}}" style="margin-bottom:0px;padding-bottom:5px;">
    <div id="modalimg{{rownum}}" class="modal">
        <div class="modal_close"></div>
        <iframe width="100%" height="100%" data-src="//www.youtube.com/embed/{{data.widget_youtubeId}}" frameborder="0" allowfullscreen></iframe>
    </div>

    {% if data.widget_icon %}
        <span class="bigGreenIcon" style="float:left">&#x{{data.widget_icon}};</span>
        <div style="float:left;margin-left:10px;">
    {% endif %}
    
    <h3 class="widgettitle nomargin" >{{data.widget_title}}</h3>

    {% if data.widget_icon %}
        </div>
        <div class="clear"></div>
    {% endif %}
    
</div>


<a id="openmodal" class="openmodal" name="modalimg{{rownum}}" href="#modalimg{{rownum}}">
    {% if data.widget_thumbnail %}
    <img src="{{data.widget_thumbnail}}" class="responsive-img" style="width:100%" onclick="youtubeModal()">
    {% else %}
    <img src="https://i.ytimg.com/vi/{{data.widget_youtubeId}}/hqdefault.jpg" style="width:100%" class="responsive-img" onclick="youtubeModal()">
    {% endif %}
</a>

{% if data.widget_text %}
<div class="widget widget_text {{classes}}" style="margin-top:0px;">
    <p>
        {{data.widget_text|raw|nl2br}}
    </p>

</div>
{% endif %}

<script>

    function youtubeModal()
    {
        var target = jQuery('iframe[data-src="//www.youtube.com/embed/{{data.widget_youtubeId}}"]');
        target.attr("src", target.attr("data-src"))
    }

</script>