<div class="widget widget_text {{classes}}">
	<div id="modalimg{{rownum}}" class="modal">
	    <div class="modal_close"></div>
	    <iframe width="100%" height="100%" data-src="//www.youtube.com/embed/{{data.youtubeId}}" frameborder="0" allowfullscreen></iframe>
	</div>

	<h2 class="widgettitle">{{data.title}}</h2>
	<a id="openmodal" class="openmodal" name="modalimg{{rownum}}" href="#modalimg{{rownum}}">
		{% if data.thumbnail %}
		<img src="{{data.thumbnail}}" class="responsive-img" style="width:100%" onclick="youtubeModal()">
		{% else %}
		<img src="https://i.ytimg.com/vi/{{data.youtubeId}}/hqdefault.jpg" style="width:100%" class="responsive-img" onclick="youtubeModal()">
		{% endif %}
	</a>

</div>
<script>
function youtubeModal(){

	var target = jQuery('iframe[data-src="//www.youtube.com/embed/{{data.youtubeId}}"]');

	target.attr("src", target.attr("data-src"))
}

</script>