<div class="bgbox {{ classes }} widgetwithicon" style="">


    <div class="left bigGreenIcon " style="margin-right:10px;">&#xf073;</div>
    <h3>{{data.title}}</h3>

<div  class="space-top">


    {% if data.text %}<p class="bigspace-bottom">{{ data.text }}</p>{% endif %}

    <div>
        {% for event in data.events %}
        <div class="space-top">
            <span class="small">{{ event.date_readable }}</span><br/>
            <a href="/unternehmen/termine?id={{event.id}}"><span class="">{{ event.title }}</span></a>
            
            <!-- {{ event.text }} -->
        </div>
        {% endfor %}
    </div>    

    <a class="readmore block bigspace-top" href="/unternehmen/termine">{{ data.linktext}}</a>

</div>
</div>