

<div class="bgbox {{ classes }}" style="margin-bottom:0px;">
    <h2 class="nomargin">{{data.title}}</h2>
</div>
<div class="space-bottom brightBG" >

    <div style="margin-left:10px;text-align:center;padding-right:10px;">

        {{data.title1}}
        

        <div class="pinposition">|</div>
        <div id="prodselect1"></div>




        <div id="prodArea2">
            <br/>
            {{data.title2}}

            <div class="pinposition">|</div>
            <div id="prodselect2"></div>
        </div>


        <div id="prodArea3">
            <br/>
            {{data.title3}}
            <div class="pinposition">|</div>
            <div id="prodselect3"></div>
        </div>



        <br/>
        <input type="submit" value="Zum Produkt" class="button" onclick="next.prodSel.gotoProduct()" />
    </div>

    <div style="clear:both"></div>


<br/>


</div>
<div style="clear:both"></div>


<!--   ---zweite Ebene/Selektion--- wenn Prod: Biogas, Solar, Wind, Wasserkraft, Erdgas-BHKW, Notstrom wenn Verbr.: mit Flexibilität, ohne Flexibilität wenn Speicherer: keine Selektion, direkt in die dritte Ebene ---dritte Ebene/Selektion--- wenn Biogas: Direktvermarktung, Regelenergie, Bedarfsgerechte Erzeugung, Strombelieferung für meine Biogasanlage wenn Solar: Direktvermarktung wenn Wind: Direktvermarktung wenn Wasserkraft: Direktvermarktung, Regelenergie
 -->
