<div class="bgbox {{ classes }}">

    <h3>{{data.title}}</h3>

    {% if data.text %}<p class="bigspace-bottom">{{ data.text }}</p>{% endif %}

    <div class="blogwidget">
        {% for post in data.recent %}


            <div class="space-bottom">

<!--                 {% if post.thumb %}
                <div class="cute-1-phone nopadding hide-phone">
                    <a href="{{ post.permalink }}"><img src="{{ post.thumb|raw }}" class="responsive-img"/></a>
                </div>
                {% endif %}

 -->                <div class="titletext cute-12-phone cute-{% if post.thumb %}11{% else %}12{% endif %}-tablet left" style="padding-top:0px;padding-left:0px;">  <!-- {% if post.thumb %}hasthumb{% endif %} -->
                    <a href="{{ post.permalink }}" class="h3">{{ post.post_title }}</a>

                    {{ post.post_excerpt|striptags }}
                </div>
                <div class="clear"></div>
            </div>
        {% endfor %}
    </div>    


<a class="button" href="/unternehmen/energie-blog">Zum Blog</a>

</div>